@import "tailwindcss";

@theme {
  --color-primary: #1F7A4C;
  --color-dark: #0F3D2E;
  --color-light: #E6F4EA;
  --color-accent: #F4A261;

  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
}
