@import "tailwindcss";

@theme {
  --color-primary: #1F7A4C;
  --color-dark: #0F3D2E;
  --color-light: #E6F4EA;
  --color-accent: #F4A261;

  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}
